@import url(../fonts/fonts.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 975px;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  color: #ff6029;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.title span {
  font-size: 30px;
  font-weight: 300;
}

.header {
  position: relative;
  background: #ff6029;
}

.header__container {
  max-width: 975px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 47px 10px 40px 27px;
  margin: 0 auto;
}

.header__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-link {
  margin-right: 15px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline;
}

.header__nav-link a {
  color: #fff;
}

.header__phone-icon {
  margin-right: 13px;
}

.header__phone-number {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.header__element-left {
  position: absolute;
  margin-top: 30px;
  left: 0;
}

.header__element-right {
  position: absolute;
  margin-top: 30px;
  right: 0;
}

.info {
  margin-top: 100px;
  position: relative;
}

.info__container {
  max-width: 975px;
  margin: 0 auto;
  text-align: center;
}

.info__box {
  position: relative;
  padding-left: 27px;
}

.info__box::after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  width: 100%;
  height: 4px;
  background: #ff6029;
}

.info__title {
  text-transform: uppercase;
  color: #ff6029;
  font-size: 40px;
  font-weight: 600;
}

.info__title span {
  font-weight: 300;
}

.info__feature-title {
  font-weight: 300 !important;
}

.info__features {
  position: relative;
  margin-top: 35px;
}

.info__subtitle {
  font-size: 26px;
  margin-top: 45px;
  font-weight: 600;
}

.info__text {
  margin-top: 30px;
  font-size: 26px;
}

.info__element-left {
  margin-top: 70px;
}

.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 26px;
  font-weight: 500;
}

.info__item {
  margin-top: 20px;
}

.info__item:before {
  content: '+';
  color: #ff6029;
  font-weight: 600;
  margin-right: 15px;
}

.cake {
  position: relative;
  margin-top: 55px;
  height: 2800px;
}

.cake__background {
  position: absolute;
  background: #ff6029;
  width: 3500px;
  height: 2750px;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.cake__container {
  max-width: 975px;
  margin: 0 auto;
}

.cake__box {
  position: relative;
  text-align: center;
}

.cake__box img {
  margin-top: 90px;
}

.cake__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 50px;
}

.cake__title {
  color: #fff;
  margin-top: 95px;
}

.cake__list {
  margin-top: 130px;
}

.cake__list:after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  background: #Fff;
  width: 535px;
  height: 5px;
}

.cake__list-item {
  color: #fff;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.cake__list-item:nth-last-child(-n+1) {
  margin-bottom: 0;
}

.cake__list-item img {
  margin-right: 20px;
}

.cake__facts {
  position: relative;
}

.cake__facts-title {
  margin-top: 80px;
  color: #fff;
}

.cake__facts-img {
  text-align: center;
  margin-top: 65px;
}

.cake__elements {
  position: absolute;
  top: 70%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.facts {
  margin-top: 130px;
}

.facts__counter {
  color: #ff6029;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}

.facts__slider {
  position: relative;
  margin-top: 45px;
}

.facts__slider:after {
  content: '';
  display: block;
  margin: 0 auto;
  margin-top: 92px;
  background: #ff6029;
  width: 533px;
  height: 5px;
}

.facts__arrow {
  position: absolute;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.facts__text {
  color: #ff6029;
  font-size: 26px;
  text-align: center;
}

.facts__element-left {
  position: absolute;
  right: 0;
}

.gift {
  margin-top: 97px;
  margin-bottom: 80px;
}

.gift__container {
  position: relative;
  max-width: 975px;
  margin: 0 auto;
}

.gift__element-left {
  position: absolute;
  top: 7%;
  left: 0;
}

.gift__box {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.gift__banner {
  margin-top: 30px;
}

.gift__banner:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */