* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 975px;
    margin: 0 auto;
}

.title {
    text-transform: uppercase;
    color: #ff6029;
    text-align: center;
    font-size: 40px;
    font-weight: 600;

    span {
        font-size: 30px;
        font-weight: 300;
    }

}

.header {
    position: relative;
    background: #ff6029;

    &__container {
        max-width: 975px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 47px 10px 40px 27px;
        margin: 0 auto;
    }

    &__nav-item {
        display: flex;
    }

    &__nav-link {
        margin-right: 15px;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: underline;

        a {
            color: #fff;
        }
    }

    &__phone-icon {
        margin-right: 13px;
    }

    &__phone-number {
        font-size: 32px;
        font-weight: 600;
        color: #fff;

    }

    &__element-left {
        position: absolute;
        margin-top: 30px;
        left: 0;
    }

    &__element-right {
        position: absolute;
        margin-top: 30px;
        right: 0;
    }
}

.info {
    margin-top: 100px;
    position: relative;

    &__container {
        max-width: 975px;
        margin: 0 auto;
        text-align: center;
    }

    &__box {
        position: relative;
        padding-left: 27px;

        &::after {
            content: '';
            display: block;
            margin: 0 auto;
            margin-top: 35px;
            width: 100%;
            height: 4px;
            background: #ff6029;
        }
    }

    &__title {
        text-transform: uppercase;
        color: #ff6029;
        font-size: 40px;
        font-weight: 600;

        span {
            font-weight: 300;
        }
    }

    &__feature-title {
        font-weight: 300 !important;
    }

    &__features {
        position: relative;
        margin-top: 35px;
    }

    &__subtitle {
        font-size: 26px;
        margin-top: 45px;
        font-weight: 600;
    }

    &__text {
        margin-top: 30px;
        font-size: 26px;
    }

    &__element-left {
        margin-top: 70px;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        font-size: 26px;
        font-weight: 500;
    }

    &__item {
        margin-top: 20px;

        &:before {
            content: '+';
            color: #ff6029;
            font-weight: 600;
            margin-right: 15px;
        }
    }
}

.cake {
    position: relative;
    margin-top: 55px;

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        padding: 85rem;
        background-color: #ff602a;
        border-radius: 50%;
        transform: translate(-50%, 0);
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        padding: 110rem;
        background-color: #daf5fc;
        border-radius: 50%;
        transform: translate(-50%, -10%);
        z-index: -10;
    }

    &__container {
        max-width: 975px;
        margin: 0 auto;
    }

    &__box {
        position: relative;
        text-align: center;

        img {
            margin-top: 90px;
            height: auto;
            max-width: 100%;
        }
    }

    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }

    &__title {
        color: #fff;
        margin-top: 95px;
    }

    &__list {
        margin-top: 130px;

        &:after {
            content: '';
            display: block;
            margin: 0 auto;
            margin-top: 100px;
            background: #Fff;
            width: 535px;
            height: 5px;
        }
    }

    &__list-item {
        color: #fff;
        font-size: 26px;
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        &:nth-last-child(-n+1) {
            margin-bottom: 0;
        }

        &:nth-child(even) img {
            transform: rotate(-25deg);
        }

        img {
            margin-right: 20px;
            max-height: 80px;
        }
    }

    &__facts {
        position: relative;
    }

    &__facts-title {
        margin-top: 80px;
        color: #fff;
    }

    &__facts-img {
        text-align: center;
        margin-top: 130px;
    }

    &__elements {
        position: absolute;
        top: 70%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.facts {

    &__counter {
        color: #ff6029;
        font-size: 26px;
        font-weight: 600;
        text-align: center;
    }

    &__slider {
        position: relative;
        margin-top: 45px;

        &:after {
            content: '';
            display: block;
            margin: 0 auto;
            margin-top: 92px;
            background: #ff6029;
            width: 533px;
            height: 5px;
        }
    }

    &__arrow {
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    &__text {

        color: #ff6029;
        font-size: 26px;
        text-align: center;
    }

}

.gift {
    margin-top: 97px;
    margin-bottom: 80px;

    &__container {
        position: relative;
        max-width: 975px;
        margin: 0 auto;
    }

    &__element-left {
        position: absolute;
        top: 7%;
        left: 0;
    }

    &__box {
        margin-top: 110px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__banner {
        margin-top: 30px;

        &:hover {
            cursor: pointer;
        }
    }
}